.mainLayout {
    margin-top: 60px;
    display: flex;
}

.leftColumn {
    flex-shrink: 0;
    padding: 12px 10px;
    width: 220px;
}

.mainContent {
    padding: 12px 10px;
    width: 100%;
    height: 2000px;
}

.rightColumn {
    flex-shrink: 0;
    padding: 12px 10px;
    width: 220px;
}