.post {
    width: 640px;
    background-color: #fff;
    border-radius: 8px;
    transition: box-shadow 170ms ease,-webkit-box-shadow 170ms ease;
    &:hover {
        box-shadow: 0 2px 4px rgb(0 0 0 / 6%);
    }
}

.controlIcon {
    width: 24px;
    height: 24px;
    fill: #595959;
    cursor: pointer;
    &:hover {
        fill: #4683d9;
    }
}

.header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0;
    cursor: pointer;
}

.section_left {
    display: flex;
    align-items: center;
}

.topic {
    margin-right: 24px;
    display: flex;
    align-items: center;
    &__icon {
        margin-right: 8px;
        width: 22px;
        height: 22px;
        border-radius: 6px;
    }
    &__text {
        font-size: 15px;
        font-weight: 600;
    }
}

.creator {
    margin-right: 24px;
    font-size: 15px;
    font-weight: 500;
}

.creationTime {
    font-size: 15px;
    font-weight: 500;
    color: #595959;
}

.subscribe {
    display: flex;
    align-items: center;
    color: #3766a9;
    cursor: pointer;
    &__icon {
        width: 20px;
        height: 20px;
        fill: currentColor;
    }
    &__text {
        margin-left: 8px;
        font-size: 14px;
        font-weight: 600;
        cursor: default;
    }
    &:hover {
        opacity: .85;
    }
}

.title {
    margin-bottom: 8px;
    padding: 0 20px;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    word-wrap: break-word;
    cursor: pointer;
}

.previewText {
    margin-bottom: 12px;
    padding: 0 20px;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    cursor: pointer;
}

.contentImage {
    margin-bottom: 12px;
    width: 100%;
    max-height: 766px;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 20px;
}

.commentsCounter {
    margin-right: 33px;
    display: flex;
    align-items: center;
    color: #595959;
    &__icon {
        margin-right: 4px;
    }
    &__value {
        line-height: 22px;
        font-size: 15px;
        font-weight: 600;
    }
}

.bookmarkIcon {
    margin-right: 33px;
}

.rank {
    display: flex;
    justify-content: space-between;
    width: 86px;
    align-items: center;
    &__value {
        line-height: 22px;
        font-size: 15px;
        font-weight: 600;
        color: #2ea83a;
        cursor: default;
    }
}